extends ..\layout

block content
    p Titanic Passengers
    p 
    form(method='post', action='/titanic/search')
        p Search Ship's Manifest
        input(rows='5', name='search', value=search) 
    form(method='post', action='/titanic/fancy')
        p Fancy Search
        input(rows='5', name='fancy', value=fancy) 
        
    p Passengers/Crew Returned: #{passengers.length}
    p Alive like Rose: #{survivors}
    p Dead like Jack: #{notSurvivors}
    table
        tr
            each th in headers
                th= th

        each passenger in passengers
            tr
                td= passenger.lastName
                td= passenger.firstName
                td= passenger.age
                td= passenger.passengerClass
                td= passenger.passengerCrew
                td= passenger.role
                td= passenger.survivor